<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="TicTacToeApi">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>app/src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/unit/report" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>